*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1280px;
    padding: 0 16px;
    margin: auto;
}

a{
    color: inherit;
}

ul{
    display: flex;
}

li{
    list-style: none;
}