.savol{
    width: 100%;
    background: rgba(245, 117, 32, 1);
    margin-top: 160px;

}

.savol__body{
    display: flex;

    .title{
        display: flex;
        flex-direction: column;
        gap: 32px;

        .heading{
            display: flex;
            width: 620px;

            h2{
                font-family: Bebas Neue Cyrillic;
                font-size: 49px;
                font-weight: 400;
                line-height: 78.72px;
                letter-spacing: 0.05em;
                text-align: left;
                color: rgb(255,255,255);
                margin-top: 52px;
            }
        }

        .questions{
            display: flex;

            
            .wrapper{
                display: flex;
                flex-direction: column;
                gap: 16px;

                .collection{
                    display: flex;
                    gap: 10px;

                    .item{
                        display: flex;

                        input{
                            width: 302px;
                            height: 46px;
                            border-radius: 10px;
                            border: none;
                            padding: 10px 16px;
                            font-family: Inter;
                            font-size: 16px;
                            font-weight: 300;
                            line-height: 25.6px;
                            color: rgba(179, 179, 179, 1);

                        }
                    }

                    .big__item{
                        display: flex;

                        input{
                            width: 608px;
                            height: 154px;
                            border-radius: 10px;
                            border: none;
                            padding: 10px 16px;
                            
                        }
                    }

                    .small__item{
                        display: flex;

                        button{
                            width: 608px;
                            height: 52px;
                            border: none;
                            border-radius: 10px;
                            font-family: Inter;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 19.68px;
                            color: rgba(245, 117, 32, 1);
                            transition: .7s;

                            &:hover{
                                cursor: pointer;
                                background: green;
                                color: aliceblue;
                                font-size: 20px;
                            }

                        }
                    }
                }
            }
        }
    }
}

